/* Общи стилове за HTML и body */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Скриване на вертикалния скрол */
}

/* Основен контейнер за dashboard */
.dashboard {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding-inline: 20px;
  overflow-x: hidden;
}

/* Стилове за страничната лента */
.sidebar {
  flex: 0.2;
  border-right: 1px solid #27374d;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 100%;
  overflow-x: hidden;
}

/* Основен контейнер за съдържанието на dashboard */
.dashboard--content {
  background: #fff;
  border-radius: 20px;
  padding: 2rem;
  display: flex;
  flex-direction: column; /* Добавете това, ако искате съдържанието да бъде подредено вертикално */
  gap: 1.5rem;
  flex: 1; /* Разширете това, за да запълните останалото пространство */
  height: 100%; /* Пълна височина */
  box-sizing: border-box;
}
/* Примерен стил за червен фон на dashboard */
.dashboard-red {
  background-color: #e6acac;
}