.language-selector {
    margin: 10px;
    /* Positioning the dropdown on the right side */
    position: absolute; /* Make sure the parent container has relative positioning */
    top: 45px; /* Adjust as needed */
    right: 50px; /* Position from the right edge */
}

.language-selector select {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    cursor: pointer;
    /* Add other styles as needed */
}