html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Скриване на вертикалния скрол */
}

.sidebar {
  flex: 0.2;
  border-right: 1px solid #27374d;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 100%;
  overflow-x: hidden;
}

.manage-users {
  width: 100%;
}

.manage-users h2 {
  margin-bottom: 1rem;
}

.add-user-button {
  background-color: #27374d;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 1rem;
  transition: background-color 0.3s;
}

.add-user-button:hover {
  background-color: #1c2a38;
}

.global-filter {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.global-filter input {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 200px;
  font-size: 16px;
}

.global-filter select {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.users-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

.users-table th,
.users-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

.users-table th {
  background-color: #27374d;
  color: white;
  cursor: pointer;
  position: relative;
}

.users-table th.sortable:hover::after {
  content: ' (click to sort)';
  font-size: 12px;
  color: #f0f0f0;
}

.edit-button,
.delete-button {
  background-color: #27374d;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 5px;
  transition: background-color 0.3s;
}

.edit-button:hover {
  background-color: #1c2a38;
}

.delete-button {
  background-color: #d9534f;
}

.delete-button:hover {
  background-color: #c9302c;
}

tr:hover {
  background-color: #f5f5f5;
}
.users-table th {
  background-color: #27374d;
  color: white;
  cursor: pointer;
  position: relative;
  padding: 12px;
  text-align: left;
}

.users-table th::after {
  content: '';
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  border: 6px solid transparent;
  border-left-color: white;
}

.users-table th.asc::after {
  border-top: 0;
  border-bottom-color: transparent;
}

.users-table th.desc::after {
  border-bottom: 0;
  border-top-color: transparent;
}