/* src/styles/studentAssignmentsPage.css */

.dashboard {
    display: flex;
    width: 100vw;
    height: 100vh;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
  }
  
  .sidebar {
    flex: 0.2;
    border-right: 1px solid #27374d;
    height: 100%;
    overflow-y: auto;
  }
  
  .dashboard--content {
    flex: 1;
    background: #fff;
    padding: 2rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
  }
  
  .dashboard-student {
    background-color: #acd6e6;
  }
  
  .assignments-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: #f9f9f9;
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 100%;
  }
  
  .assignments-list h2 {
    color: #27374d;
    text-align: center;
  }
  
  .assignments {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .assignment-card {
    background: #fff;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  
  .assignment-header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #526d82;
  }
  
  .assignment-details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;
  }
  
  .assignment-detail {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #526d82;
  }
  
  .assignment-detail strong {
    color: #27374d;
  }
  
  .assignment-detail p {
    margin: 0;
    color: #27374d;
  }
  
  .graded {
    color: green;
  }
  
  .not-graded {
    color: red;
  }
  
  .icon.graded {
    color: green;
  }
  
  .icon.not-graded {
    color: red;
  }
  